.header{
  height: 55px;
  justify-content: space-between;
  margin: 0;
  display: flex;
  flex-direction: row;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(209, 207, 207);
  z-index: 100;

}

.left-section{

  display: flex;
  align-items: center;

}

.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}
.youtube-logo{
  height: 20px;
}

.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.search-box{
  height: 36px;
  flex: 1;
  font-size: 16px;
  border: 1px solid  rgb(196, 196, 196);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgb(0, 0, 0, 0.05);
  width: 0;
}
.search-box::placeholder{
  font-family: Roboto, Arial;
  
  padding-left: 10px;
}

.search-button{
  height: 40px;
  width: 66px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(196, 196, 196);
  border-radius: 2px;
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
}

.search-button, .voice-search-button,
.upload-icon-container, .youtube-app-container, 
.notifications-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip,
 .voice-search-button .tooltip
 , .upload-icon-container .tooltip,
.youtube-app-container .tooltip,
.notifications-icon-container .tooltip 
 {
  position: absolute;
  font-family: Roboto, Arial;
  font-size: 12px;
  background-color: grey;
  color: white;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  bottom: -40px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-app-container:hover .tooltip,
.notifications-icon-container:hover .tooltip
{
  opacity: 1;
  
}
.search-button:hover,
.voice-search-button:hover,
.upload-icon-container:hover,
.youtube-app-container:hover,
.notifications-icon-container:hover{
  cursor: pointer;
}

.search-icon{
  height: 25px;
}
.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border-width: 1px;
  border-style: none;
  border-color: rgb(196, 196, 196);
  margin-left: -1px;
}
.voice-search-icon{
  height: 24px;
  background-color: rgb(245, 237, 237);
}

.right-section{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon{
  height: 24px;
 
}

.youtube-app-icon{
  height: 24px;
  
}

.notifications-icon{
  height: 24px;
}
.notifications-icon-container{
  position:relative;
}
.notifications-count{
  position: absolute;
  right: -5px;
  top: -2px;
  background-color: rgb(202, 16, 16);
  color: white;
  font-family: Roboto, Arial;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 20px;
}

.current-user-picture{
  height: 34px;
}
.current-user-picture:hover{
  cursor: pointer;
}